* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fbfaf4;
}

.padding-h-100 {
    padding-right: 100px;
    padding-left: 100px;
}

.navigation {
    padding: 20px 55px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation > img, .footer img {
    align-self: center;
    display: block;
    height: auto;
    width: 132px;
}

.btn-container {
    display: flex;
    column-gap: 10px;
}

.btn-container > .btn-1 {
    padding: 10px 20px;
}

.btn-container > .btn-1:hover {
    color: rgb(32, 128, 141);
    background-color: #badedd;
}

.btn-container > .divider {
    padding: 10px 0;
    color: lightgray;
}

.btn-container > .btn-2 {
    color: white;
    background-color: #20808d;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 100dvw;
}

.trailer {
    background: url(https://framerusercontent.com/images/QUC1DPYvY9k6q9wes1rKIadFOFY.png?width=3320&height=1632) 100%/100%;
    height: 15dvw;
    display: flex;
    align-items: center;
}

.info-container {
    margin: 4dvw 0;
}

.info-container > .title {
    padding: 20px 0;
}

.serif {
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.sans-serif {
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ask-container {
    margin: 4dvw 0;
}

.ask-container > .btn {
    background-color: white;
    border-radius: 1dvw;
    height: 10dvw;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    text-decoration: none;
    color: black;
    /* border: 1px solid black; */

}

.ask-container > .btn:hover {
    /* border: 1px solid black; */
    box-shadow: 0 0 0 1px;
}

.ask-container .q, .a {
    width: 45%;
    padding: 0 50px;
}

.flex {
    display: flex;
}

.usage-container {
    margin: 4dvw 75px;
    background-color: #badedd;
    border-radius: 1dvw;
    padding: 3dvw 25px;
}

.cards {
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    gap: 5%;
}

.card {
    margin: 2dvw;
}

.most-out-container .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    display: flex;
    justify-content: space-evenly;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer a {
    font-size: small;
    text-decoration: none;
    color: black;
}

footer a:hover {
    color: #badedd;
}

footer ul .title {
    font-weight: bold;
    font-size: medium;

}